/MOOC/MNIST/data/
/regression/temp/
/.idea/
/regression/temp/model/
/MOOC/MNIST/model/
/regression/temp/
/MOOC/CNN/mnist_lenet5/data/
/MOOC/CNN/mnist_lenet5/model/
/MOOC/CNN/vgg16/npy/
/MOOC/CNN/vgg16/pic/
